@font-face {
    font-family: 'Eina01';
    src: url('../assets/font/Eina01-Regular.ttf');
}

@font-face {
    font-family: 'Eina01';
    src: url('../assets/font/Eina01-SemiBold.ttf');
    font-weight: 600;
}
@font-face {
    font-family: 'Eina01';
    src: url('../assets/font/Eina01-Bold.ttf');
    font-weight: 700;
}
