$theme-color: #0077FF;

header {
    @apply container px-2 mx-auto mt-16 md:mt-36 mb-16 md:mb-28 text-center;

    h1 {
        @apply mb-6 text-7xl;
        font-family: "Circular Bold";
    }

    p {
        @apply text-2xl;
        font-family: "Circular Medium";

        mark {
            @apply text-textColor;
        }
    }

    .wp-block-buttons {
        @apply flex mt-14 justify-center gap-14 rounded-lg cursor-pointer;
        font-family: "Circular Bold";

        .wp-block-button {
            padding: 13px 34px;
            background-color: $theme-color;
            color: #fff;
            @apply hover:underline;
        }

        .wp-block-button:last-child {
            background-color: transparent;
            color: #161616;
            @apply hover:underline;
        }
    }
}
