.image-banner {
    @apply mt-28 lg:mt-40 mb-28;

    img  {
        @apply hidden;

        @screen lg {
            @apply container block mx-auto;
            margin-bottom: -300px;
            width: 990px;
        }
    }

    .wp-block-media-text {
        @apply container flex flex-row-reverse mx-auto justify-between px-2 lg:px-0 py-16 lg:pt-96 lg:pb-32 text-white;

        @screen lg {
            width: 990px;
        }

        .wp-block-media-text__content {
            @screen lg {
                width: 380px;
            }

            h2 {
                @apply text-5xl;
                font-family: "Circular Bold";
            }

            p {
                @apply mt-4 mb-6 opacity-70;

                mark: {
                    color: #0077ff !important;
                }
            }

            .wp-block-button {
                @apply p-0 bg-transparent text-xl;
            }
        }

        img {
            display: none;

            @screen lg {
                display: block;
                width: 438px;
                height: 318px;
            }
        }
    }
}
