.about-me {
    @apply container my-28 px-2 mx-auto;

    .about-me-wrapper {
        @apply mx-auto;

        @screen md {
            max-width: 680px;
        }

        .about-me-title {
            @apply text-5xl md:text-6xl text-center;
            font-family: "Circular Bold";
        }

        p {
            @apply mt-6;

            mark {
                @apply cursor-pointer hover:underline;
                color: #0077ff;
            }
        }
    }
}
