@import "./colors";

body {
    background-color: #fff;
    font-family: "Circular Medium";
    color: #161616;
}

h1 {
    font-size: 1.875rem;
    line-height: 2.25rem;

    @screen md {
        font-size: 3rem;
        line-height: 3.5rem;
    }
}

h2 {
    font-size: 1.875rem;
    line-height: 2.25rem;

    @screen md {
        font-size: 2.5rem;
        line-height: 3rem;
    }
}

h3 {
    font-size: 1.25rem;
    line-height: 2rem;

    @screen md {
        font-size: 1.5rem;
        line-height: 2rem;
    }
}
