@font-face {
    font-family: "Circular Light";
    src: local("Circular Light"),
     url(~assets/fonts/Circular-Light.otf);
}

@font-face {
    font-family: "Circular Medium";
    src: local("Circular Medium"),
     url(~assets/fonts/Circular-Medium.otf);
}

@font-face {
    font-family: "Circular Bold";
    src: local("Circular Bold"),
     url(~assets/fonts/Circular-Bold.otf);
}

@font-face {
    font-family: "Circular Black";
    src: local("Circular Black"),
     url(~assets/fonts/Circular-Black.otf);
}

