.media-text-banner {
    .wp-block-media-text {
        @apply container flex flex-row-reverse mx-auto justify-between my-28 px-2 lg:px-0;

        @screen lg {
            width: 990px;
        }

        .wp-block-media-text__content {
            @screen lg {
                width: 380px;
            }

            h2 {
                @apply text-5xl;
                font-family: "Circular Bold";
            }

            p {
                @apply mt-4 mb-6 opacity-70;

                mark: {
                    color: #0077ff !important;
                }
            }

            .wp-block-button {
                @apply p-0 bg-transparent text-xl;
            }
        }

        img {
            display: none;

            @screen lg {
                display: block;
                width: 438px;
                height: 318px;
            }
        }
    }
}
