$theme-color: #0077FF;

.banner {
    @apply my-28;

    .banner-wrapper {
        @apply mx-auto py-14;
        width: 680px;

        .banner-title {
            @apply text-white text-5xl;
            font-family: "Circular Bold"
        }

        .banner-description {
            @apply mt-2 mb-6 text-white text-sm;
        }

        .wp-block-buttons {
            @apply flex rounded-lg cursor-pointer;

            .wp-block-button {
                padding: 13px 34px;
                background-color: $theme-color;
                color: #fff;
                font-family: "Circular Bold";
                @apply hover:underline;
            }
        }
    }
}
