$theme-color: #0055B8;

.banner {
    @apply my-28;
    animation: banner 300ms;

    .banner-wrapper {
        @apply container md:mx-auto py-14;

        @screen md {
            max-width: 680px;
        }

        .banner-title {
            @apply mx-2 text-white text-3xl md:text-5xl;
            font-family: "Circular Bold", serif;
        }

        .banner-description {
            @apply mx-2 mt-2 mb-6 text-white text-sm;
        }

        .wp-block-buttons {
            @apply flex mx-2 rounded-lg cursor-pointer;

            .wp-block-button {
                padding: 13px 34px;
                background-color: $theme-color;
                color: #fff;
                font-family: "Circular Bold", serif;
                @apply hover:underline;
            }
        }
    }
}
