@import "@fylgja/scroll-slider";
@import "../../styles/components/full-bleed.scss";

.header {
    @apply container px-2 mx-auto mt-12 md:mt-32 mb-16 md:mb-40;

    & > .wp-block-media-text {
        & > .wp-block-media-text__content {
            p {
                @apply mt-4 md:mt-6 mb-6 md:mb-10 text-sm md:text-base;
            }

            & > .wp-block-buttons {
                @apply flex gap-12 flex-wrap;
            }
        }
    }
}

.works {
    @apply bg-backgroundColor bg-opacity-40;

    & .wp-block-group {
        @apply full-bleed container px-2 mx-auto pt-14 pb-20 text-center;

        p {
            @apply mt-2 mb-8 font-semibold text-sm;
        }

        & .wp-block-columns {
            @apply flex gap-4 scroll-slider;
            --scroll-size: 285px;
            padding-left: 8px;
            scrollbar-width: none;
            -ms-overflow-style: none;

            &::-webkit-scrollbar {
                display: none;
            }

            @screen md {
                @apply gap-12;
            }

            @screen lg {
                @apply gap-20;
                --scroll-size: 434px;
            }

            & .wp-block-media-text__content {
                & .card-title {
                    @apply mb-0 text-base text-left underline;

                    @screen lg {
                        @apply text-xl;
                    }
                }

                & .card-description {
                    @apply mb-4 text-left text-xs font-normal;

                    @screen lg {
                        @apply text-sm;
                    }
                }

                & .wp-block-buttons {
                    @apply flex gap-12 justify-between;

                    & .is-style-ghost {
                        @apply self-center;
                    }
                }
            }
        }

        & .see-all {
            @apply mt-12 text-center;

            @screen lg {
                @apply mt-10 text-right;
            }
        }
    }
}


.blog {
    @apply container px-2 mx-auto mt-20 mb-28;

    p {
        @apply mt-2 mb-8 font-semibold text-sm;
    }

    & .wp-block-columns {
        @apply flex-col gap-4;

        @screen md {
            @apply flex flex-row;
        }

        @screen lg {
            @apply gap-20;
        }

        @screen xl {
            @apply gap-44;
        }

        & .big-blog-post {
            @apply mb-4;

            @screen sm {
                @apply mb-0;
            }
        }

        // Big blog card
        & .wp-block-column {
            &:last-child {
                @apply flex-auto;
            }

            & .wp-block-media-text {
                @apply gap-4;

                & .wp-block-media-text__content {
                    @apply flex-auto;

                    & .wp-block-columns {
                        @apply gap-2;
                    }

                    & .blog-cta {
                        @apply flex-none;
                    }
                }
            }

            & .wp-block-media-text__content {
                p {
                    @apply my-3 text-xs font-normal;
                }

                & .blog-content {
                    @apply mt-0 text-sm;
                }

                & .wp-block-columns {
                    @apply flex flex-row mt-7 gap-4;

                    & .blog-autor {
                        @apply m-0 text-sm font-bold;
                    }

                    & .blog-date {
                        @apply m-0 text-textGray font-semibold;
                    }

                    & .blog-cta {
                        @apply ml-auto flex-none;
                    }
                }

                & .wp-block-columns::before	{
                    @apply mr-2 inline w-9 min-h-full bg-no-repeat bg-contain;
                    content: "";
                    background-image: url("../../assets/images/davidvandenpol-face.svg");
                }
            }
        }

        // Small blog cards
        & .wp-block-group {
            @apply mb-4;

            &:last-child {
                @apply mb-0;
            }

            & .wp-block-media-text {
                @apply flex flex-col gap-4;

                @screen sm {
                    @apply flex flex-row;
                }

                & .wp-block-media-text__media {
                    @screen sm {
                        width: 235px;
                        height: 176px;
                    }
                }

                & .wp-block-media-text__content {
                    @apply flex-auto;

                    & .wp-block-columns {
                        @apply gap-2;
                    }

                    & .blog-cta {
                        @apply flex-none;
                    }
                }
            }
        }
    }
}

.about-me {
    @apply py-14 bg-backgroundColor bg-opacity-40;

    & .wp-block-group {
        @apply container mx-auto px-2;

        & .about-me-description {
            @apply font-semibold;
        }

        h3 {
            @apply text-left;
        }

        p {
            @apply mt-2 mb-8 text-sm text-left;
        }

        & .wp-block-media-text {
            @apply block container mx-auto;

            @screen lg {
                @apply flex gap-24 pt-9 justify-center;
            }

            & .wp-block-media-text__media {
                display: none;

                @screen lg {
                    @apply block;
                }
            }

            & .wp-block-media-text__content {
                @apply full-bleed;

                & .tech-slider {
                    @apply grid gap-4 pl-0 m-0;
                    grid-template-columns: repeat(auto-fit, minmax(81px, 1fr));

                    & .wp-block-group {
                        @apply rounded-xl drop-shadow-2xl bg-lightBackgroundColor;
                        width: 81px;
                        height: 81px;

                        img {
                            margin: auto;
                            margin-top: 16px;
                            margin-bottom: 16px;
                            display: block;
                        }
                    }
                }
            }
        }
    }
}

.social-media {
    @apply container px-2 mx-auto mt-20 mb-28;

    & .wp-block-columns {
        @apply flex flex-col;

        @screen lg {
            @apply flex flex-row;
        }

        & .wp-block-group {
            & .wp-block-columns {
                @apply p-6 mb-4 rounded-lg justify-between;
                background-color: #212C3D;

                & .wp-block-column {
                    @apply mr-auto pl-4;
                }
            }
        }
    }
}
